{% extends 'myapp/shop_template.html' %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body class="shop_detail">
    <div class="container">
        <div>
            <img src= "{{kb.Image.url}}" alt="">
            <div class="add">
                Tổng tiền giỏ hàng:
                <button class="btn" style="width: max-content; border-radius: 4px;">Thêm vào giỏ</button>
            </div>
        </div>

        <div class="purchase">
            <h1>{{kb.Name}}</h1>
            <h1 class="price">{{kb.Price|intcomma}} &#8363</h1>
            <div class="description">
                Mô tả ngắn:<br>
                {{kb.Short_Description}}
            </div>
            <button class="btn">
                Mua ngay <br> 
                giao tận nơi hoặc nhận tại cửa hàng
            </button>
        </div>
    </div>
    <div class="information">
        <h1>Thông tin sản phẩm</h1>
        <p><strong>Xuất sứ: </strong>{{kb.Place_of_Origin}}</p>
        <p><strong>Vật liệu: </strong>{{kb.Material}}</p>
        <p><strong>Kích thước <span style="color:gray">(dài, rộng, cao)</span>: </strong>{{kb.Length}} x {{kb.Width}} x {{kb.Height}} cm</p>
    </div>
</body>
{% endblock %}