{% extends 'myapp/shop_template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shop.css' %}">
</head>
{% block content %}

{% for kb in kbs %}
<body class="shop_content">
    <div class="container">
        <a class="item" href="_blank">
            <img src= "{{kb.Image}}" alt="không load">
            <div class="item-content">
                <p class="title">{{kb.Name}}</p>
                <p class="price">{{kb.Price}}</p>
            </div>
        </a>
    </div>
</body>
{% endfor %}
{% endblock %}