{% extends 'myapp/shop_template.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
<body class="shop_detail">
    <div class="container">
        <div>
            <img src= "{{kb.Image.url}}" alt="">
            <div class="add">
                Tổng tiền giỏ hàng:
                <button class="btn" style="width: max-content; border-radius: 4px;">Thêm vào giỏ</button>
            </div>
        </div>

        <div class="purchase">
            <h1>{{kb.Name}}</h1>
            <h1 class="price">1000000 &#8363</h1>
            <div class="description">
                Mô tả ngắn:<br>
                bafn phsim lafm tuw fnhucwj pas2
            </div>
            <button class="btn bold pad">
                Mua ngay <br> 
                giao tận nơi hoặc nhận tại cửa hàng
            </button>
        </div>
    </div>
    <div class="information">
        <h1>Thông tin sản phẩm</h1>
        <p>thoog tin 1</p>
    </div>
</body>
{% endblock %}