{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shop.css' %}">
</head>
<header>
    <a class="detail brand" href="{% url "shop_content" %}">
        BRAND
    </a>
    <div class="search">
        <input style="border: none; width: 100%;" type="text" placeholder="Bạn cần tìm gì?"> 
    </div>
    <div class="detail">
        Hotline
        0123456789
    </div>
    <div class="detail">
        Hệ thống giao hàng
    </div>
    <div class="detail">
        Tra cứu đơn hàng
    </div>
    <div class="detail">
        Giỏ hàng
    </div>
</header>

<body>
    {% block content %}
    {% endblock %}
</body>

<footer>
    <div class="information">
        <p>Về trang</p> 
        <p>Giới thiệu</p> 
        <p>Tuyển dụng</p> 
        <p>Liên hệ</p>
    </div>

    <div class="information">
        <p>Chính sách</p> 
        <p>Bảo hành</p>
        <p>Giao hàng</p> 
        <p>Bảo mật</p> 
    </div>

    <div class="information">
        <p>Thông tin</p> 
        <p>Hệ thống cửa hàng</p>
        <p>Cách thanh toán</p>
        <p>Hướng dẫn bảo hành</p>
    </div>

    <div class="information">
        <p>Tổng đài hỗ trợ</p> 
        <p>Mua hàng: 0123456789</p>
        <p>Bảo hành: 0987654321</p>
        <p>Email: website@gmail.com</p>
    </div>
</footer>
</html>