*{
    margin: 0px;
}
*:focus{
    outline: none;
}
/* shop content */
.shop_content{
    .container{
        display: grid;
        margin: 40px 40px 0px;
        grid-template-columns: 18% 18% 18% 18% 18%;
        grid-template-rows: auto;
        column-gap: 2.5%;
        row-gap: 40px;
        a{
            text-decoration: none;
            color: black;
        }
        .item{
            width: 100%;
            height: max-content;
            border-radius: 10px;
            border: solid;
            border-color: whitesmoke;
            overflow: hidden;
    
            img{
                max-width: 100%;
                height: auto;
            }
    
            p::first-letter{
                text-transform: capitalize;
            }
    
            .item-content{
                margin: 0px 8px;
                .title{
                    margin: 0px 0px 10px;
                    line-height: 1em;
                    height: 3em; 
                    word-wrap:break-word;
                    font-size: 1.5em;
                    hyphens: auto;
                    overflow: hidden;
                }
                .price{
                    color: red;
                    margin-bottom: 8px;
                    font-size: 25px;
                    font-weight:bolder;
                }
            }
        }
    } 
} 



/* shop detail */
.shop_detail{
    .container{
       display: grid;
       grid-template-columns: 49% 49%;
       column-gap: 2%;
       margin: 10px 10px 0px;
       /* bên trái */
       img{
           width: 100%;
           max-height: 300px;
           border-radius: 10px;
        }
        .add{
            display: flex;
            justify-content: space-between;
            .btn{
                width: 100%;
                color: white;
                background-color: red;
                border-radius: 10px;
                border: none;
            }    
            .btn:active{
                color: red;
                background-color: white;
                box-shadow: 2px 2px 5px #fc894d;
            }
        }
        /* bên phải */
        .purchase{
            h1::first-letter{
                text-transform: capitalize;
            }
            .price{
                color: red;
            }
            .description::first-line{
                font-weight: bold;
            }
            /* nút */
            .btn{
                width: 100%;
                color: white;
                background-color: red;
                border-radius: 10px;
                border: none;
                margin-top: 30px;
                padding: 10px 0px;
            }
            .btn::first-line{
                font-weight: bold;
                text-transform: uppercase;
            }
            .btn:active{
                color: red;
                background-color: white;
                box-shadow: 2px 2px 5px #fc894d;
            }
        }
    }
    /* thông tin sản phẩm */
    .information{
        margin: 60px 0px 0px 20px;
        p::first-letter{
            text-transform: capitalize;
        }
    }
}






/* shop template */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: white;
    padding: 20px 70px 20px 30px;
    a{
        text-decoration: none;
    }
    .brand{
        font-size: 20px;
    }
    .search{
        padding: 7px 10px;
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 5px;
    }
    .detail{
        width: 80px;
        text-wrap: wrap;
        display: flex;
        color: white;
        align-items: center;
        font-weight: bold;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 30px;
    background-color: red;
    color: white;
    .information{
        width: max-content;
    }
    .information> :first-child{
        display: flex;
        justify-content: center;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
}