*{
    margin: 0px;
}
/* shop content */
.shop_content> .container{
    display: grid;
    margin: 40px 40px 0px;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: auto;
    column-gap: 2.5%;
    row-gap: 40px;
    
}
.shop_content .container> .item{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: solid;
    border-color: whitesmoke;
    overflow: hidden;
}
.shop_content> .container> .item> img{
    max-width: 100%;
    height: auto;
}
.shop_content> .container> .item> p::first-letter{
    text-transform: capitalize;
}
.shop_content>  .container> .item> .item-content{
    margin: 0px 8px;
}
.shop_content>  .container>.item> .item-content> .title{
    margin: 0px 0px 10px;
    line-height: 1.5em;
    height: 3em; 
    overflow: hidden;
    font-size: large;
    font-weight: bold;
}

.shop_content> .container> .item> .item-content> .price{
    color: red;
    margin: 0px;
    font-size: larger;
    font-weight:bolder;
}


/* shop detail */
.shop_detail> .container{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    margin: 10px 10px 0px;
}

/* bên trái */
.shop_detail> .container> .main> img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.shop_detail> .container> .main> .add{
    display: flex;
    justify-content: space-between;
}
.shop_detail> .container> .main> .add> .btn{
    width: 100%;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
}    
.shop_detail> .container> .main> .add> .btn:active{
    color: red;
    background-color: white;
    box-shadow: 2px 2px 5px #fc894d;
}

/* bên phải */
.shop_detail> .container> .information{
    padding-right: 15px;
}
.shop_detail> .container> .purchase> h1::first-letter{
    text-transform: capitalize;
}
.shop_detail> .container> .purchase> .price{
    color: red;
}
.shop_detail> .container> .purchase> .description::first-line{
    font-weight: bold;
}

/* nút */
.shop_detail> .container> .purchase> .btn{
    width: 100%;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    padding: 10px 0px;
}
.shop_detail> .container> .purchase> .btn::first-line{
    font-weight: bold;
    text-transform: uppercase;
}
.shop_detail> .container> .purchase> .btn:active{
    color: red;
    background-color: white;
    box-shadow: 2px 2px 5px #fc894d;
}

/* thông tin sản phẩm */
.shop_detail> .information{
    margin-top: 60px;
}
.shop_detail> .information> p::first-letter{
    text-transform: capitalize;
}

/* shop template */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: white;
    padding: 20px 70px;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
i{
    margin-right:5px ;
    font-size: larger;
}
.search{
    padding: 7px 10px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}
.detail{
    width: 90px;
    text-wrap: wrap;
    display: flex;
    color: white;
    align-items: center;
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 30px;
    background-color: red;
    color: white;
}
.information{
    width: max-content;
}
.information> :first-child{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}